.ui-dialog-mask{
	position: fixed;
	z-index: 1000;
	left:0;
	top: .9rem;
	width:100%;

	height:100%;
	background: rgba(0, 0, 0, .4);
	opacity: 0;
}
.ui-dialog .ui-dialog-mask{
	animation: fadeIn linear .5s forwards;
}

.ui-dialog__hd{
  padding-top:.3rem;
  .ui-dialog__title{
    font-size: .36rem;
    color:#333;
    font-weight:400;
  }
}

.ui-dialog-container {
	position: fixed;
	z-index: 5000;
	width: 70%;
	max-width: 6rem;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: #FFFFFF;
	text-align: center;
	border-radius: .06rem;
	overflow: hidden;
}
.ui-dialog__bd{
	padding: .6rem .5rem .6rem;
	min-height: 40px;
	font-size: .32rem;
	line-height: .44rem;
	word-wrap: break-word;
	word-break: break-all;
	color: #808080;
}
.ui-dialog__ft{
	position: relative;
	line-height: .88rem;
	font-size: .3rem;
	display: flex;
}
.ui-dialog__btn_primary {
	color: #0BB20C;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.ui-dialog__btn{
	display: block;
	flex: 1;
	color: #ff6900;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	position: relative;
}
.ui-dialog__btn_default {
	color: #353535;
}
.ui-dialog__btn:after{
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
	width: 1px;
	bottom: 0;
	border-left: .01rem solid #D5D5D6;
	color: #D5D5D6;
}
.ui-dialog__ft:after{
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	height: 1px;
	border-top: .01rem solid #D5D5D6;
	color: #D5D5D6;;
}
