html{
  font-size:100px;
}
body {
  background-color: #fff;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,textarea,p,blockquote,th,td,button {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-size-adjust: none;
  box-sizing: border-box;
}

button,h1,h2,h3,h4,h5,h6{

  font-size: 100%;

}
fieldset,img,button,textarea{

  border: 0
}

img{
  vertical-align: top;
}
li{
  list-style: none;
}

input {
  background: transparent;
  border: none;
  box-shadow: none;
  border-radius: 0;
  font-size: 100%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

i,b{
  font-style: normal;
}

input,select, textarea, button {
  -webkit-appearance: none;
  outline: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "020";
  clear: both;
  height: 0;
}

.clearfix {
  zoom: 1;
  clear: both;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input:focus {
  outline: none;
}
a {
  text-decoration: none;
  tap-highlight-color: transparent;
  color:#fff;
}
b, strong,h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

.font-xb{
  font-size: .32rem;
}
.font-b{
  font-size: .3rem;
}
.font {
  font-size: .28rem;
}
.font-s {
  font-size: .26rem;
}
.font-xs {
  font-size: .24rem;
}

.c3{
  color: #333;
}

.c6{
  color: #666;
}
.c9{
  color: #999;
}
.cfff{
  color: #fff;
}
.c0{
  color: #000;
}
.ff6900 {
  color: #ff6900;
}

.p30{
  padding: 0 .3rem;
}

.pt15{
  padding-top: .15rem;
}

.pt20{
  padding-top: .2rem;
}

.pt30{
  padding-top: .3rem;
}

.pd15{
  padding-bottom: .15rem;
}

.pd20{
  padding-bottom: .2rem;
}

.pd30{
  padding-bottom: .3rem;
}

.mt15{
  margin-top: .15rem;
}
.mt20{
  margin-top: .2rem;
}
.mt30 {
  margin-top: .3rem;
}

.md15{
  margin-bottom: .15rem;
}
.md20{
  margin-bottom: .2rem;
}
.md30 {
  margin-bottom: .3rem;
}
