
.ui-toast-mask{
  width: 100%;
  height:100%;
  position: fixed;
  z-index:10000;
  left: 0;
  top:0;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui-toast{
  background:rgba(0,0,0,.6);
  border-radius:.08rem;
  max-width: 50%;
  padding: .15rem .35rem;
  overflow: hidden;
  animation: scaleIn .4s;

}   
.ui-toast span{
  display:block;
  text-align:center;
  font-size:.3rem;
  color:#fff;
  word-break:break-all;
}

